.box1{
  background-image: url("../images/img_473_1488875864.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center top;
}

.main{
  background-position: center top;
}